* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.card {
  height: 330px;
  width: 400px;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  border: 2px solid #121313;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.inputs {
  height: 50px;
  width: 300px;
  border: 2px solid #121313;
  border-radius: 20px;
  padding: 15px;
}
#submit {
  height: 50px;
  width: 300px;
  border: 2px solid #121313;
  border-radius: 20px;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
